footer
  background-color: $color-secondary
  color: $white
  display: flex
  justify-content: center

  p
    font-size: 15px

  a
    color: $white
    text-decoration: none

    &:hover
      color: $color-primary