header
  height: calc(100vh - 80px)
  padding: 0
  overflow: hidden
  position: relative
  display: flex
  flex-direction: column
  align-items: center
  justify-content: flex-start
  background-image: url("../images/background.svg")
  background-size: cover
  background-position: bottom right

  .header-logo-container
    max-height: calc(90% - 70px)
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    flex-grow: 1

    .header-logo
      max-height: 100%
      width: 90%
      max-width: 1000px

    .header-subtitle 
      margin-top: 30px
      font-size: 25px
      line-height: 40px
      font-family: "ComicSansMS", serif
      max-width: 500px
      text-align: center

  .header-arrow
    height: 70px

    .arrow-down
      width: 70px
      height: 70px
      background-image: url("../images/chevron-down.png")
      background-size: contain
      background-repeat: no-repeat
      background-position: center
      cursor: pointer

  .bounce
    position: relative
    left: 0
    bottom: 0
    -webkit-animation: bounce 2s infinite

    @-webkit-keyframes bounce
      0%
        bottom: 0px
      20%
        bottom: 10px
      100%
        bottom: 0px



