/*geel: #F6D045*/
/*rood: #DC6468*/
/*blauw: #77A4B9*/
/*groen: #AFBF73*/
@font-face {
    font-family: "Lovelo";
    src: url("../fonts/lovelo_black.otf");
}

@font-face {
    font-family: "Open-Sans";
    src: url("../fonts/OpenSans.ttf");
}

body {
    background: #F6D045;
    font-family: Open-Sans;
    margin: 0;
    color: #fff;
    overflow-x: hidden;
}

p,
ul,
ol,
i,
b {
    font-size: 20px;
    position: relative;
    z-index: 10;
}

#button,
h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: Lovelo;
}
a, h1{
    font-size: 50px;
    text-decoration: none;
}
@media (max-width: 700px) {

    p,
    ul,
    ol,
    i,
    b {
        font-size: 15px;
    }
    a, h1{
    font-size: 30px;
    text-decoration: none;
}
}

header {
    background: #F6D045;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 15;
}

header .header-logo {
    height: 70vh;
}

header .text{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

header .title-row{
    width: 80%;
    background-color:  #AFBF73;
    padding-left: 15px;
}
header .title{
    margin: 0;
}
header .subtitle-row{
    width: 90%;
    background-color:  #77A4B9;
    padding-left: 15px;
}
header .subtitle{
    margin: 0;
}
.enroll-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color:  #DC6468;
    margin-top: 40px;
    padding-left: 15px;
    align-self: flex-start;
    top: 15px;
}
.enroll{
    margin: 0;
    width: calc(90vw - 320px);
}
@media (max-width: 700px) {
    .enroll {
        width: calc(90vw - 200px);
    }
}
.enroll-button{
    background: white;
    position: absolute;
    padding: 10px;
    right: 5vw;
}
.enroll-button a{
    color: #DC6468;
}

.red-bar {
    width: 8vw;
    height: 100vh;
    top: 0;
    position: fixed;
    right: 10vw;
    background: #DC6468;
    z-index: 0;
}

main .introduction,
main .program,
main .spreker,
main .activities {
    max-width: 900px;
    flex-grow: 1;
}

main .main-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 25px;
}

main .main-row.row-primary {
    background-color: #F6D045;
    color: #fff;
}

main .main-row.row-primary h1,
main .main-row.row-primary h2,
main .main-row.row-primary h3,
main .main-row.row-primary h4,
main .main-row.row-primary h5,
main .main-row.row-primary h6 {
    color: #fff;
}

main .main-row.row-secondary {
    background-color: #fff;
    color: #77A4B9;
}

main .main-row.row-secondary h1,
main .main-row.row-secondary h2,
main .main-row.row-secondary h3,
main .main-row.row-secondary h4,
main .main-row.row-secondary h5,
main .main-row.row-secondary h6 {
    color: #F6D045;
}

main .program {
    display: flex;
    flex-direction: column;
}

main .program .program-schedule {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
}

main .program .program-schedule .program-schedule-day {
    flex-basis: 33.3333333333%;
    display: flex;
    flex-direction: column;
}

@media (max-width: 750px) {
    main .program .program-schedule .program-schedule-day {
        flex-basis: 50%;
    }
}

@media (max-width: 500px) {
    main .program .program-schedule .program-schedule-day {
        flex-basis: 100%;
    }
}

main .program .program-schedule .program-schedule-day b {
    text-transform: uppercase;
    font-family: Lovelo;
}

main .program .program-schedule .program-schedule-day ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

main .program .program-schedule .program-schedule-day ul li {
    display: flex;
    justify-content: flex-start;
}

main .program .program-schedule .program-schedule-day ul li span {
    flex-grow: 1;
}

main .program .program-schedule .program-schedule-day ul li span.time {
    padding-right: 10px;
    flex-grow: 0;
}
.boom{
    position: relative;
    right: 8vw;
    height: 30vh;
    bottom: 20px;
    align-self: flex-end;
}
footer{
    background: #F6D045;
    z-index: 20;
    position: relative;
}
footer .footer-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
}

footer .footer-row.row-primary{
    background-color: #F6D045;
    color: #fff;
}

footer .footer-other {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer .footer-other .footer-other-content {
  max-width: 900px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
}
footer .footer-other .footer-other-content * {
  flex-grow: 1;
  flex-basis: 50%;
  text-align: center;
  color: #fff;
  font-size:14px;
}
@media (max-width: 600px) {
  footer .footer-other .footer-other-content * {
    flex-basis: 100%;
  }
}

footer .footer-other .footer-other-content a {
    text-decoration: none;
}

footer .footer-other .footer-other-content a:hover {
    text-decoration: underline;
}