/*geel: #F6D045*/
/*rood: #DC6468*/
/*blauw: #77A4B9*/
/*groen: #AFBF73*/
@font-face{
    font-family: "Lovelo";
    src: url("../fonts/lovelo_black.otf");
}
@font-face{
    font-family: "Open-Sans";
    src: url("../fonts/OpenSans.ttf");
}
body{
    background: #F6D045;
    font-family: Open-Sans;
}