nav
  display: flex
  flex-direction: column
  justify-content: center
  position: fixed
  bottom: 0
  left: 0
  width: 100%
  background-color: $color-primary
  font-size: 25px
  z-index: 100
  color: $color-tertiary
  height: 80px

  @media (max-width: 500px)
    font-size: 20px

  @media (max-width: 420px)
    font-size: 12px

  .nav-content
    display: flex
    flex-direction: row
    justify-content: space-between
    padding: 0 25px


    .nav-brand
      letter-spacing: 2px
      color: $color-tertiary
      text-decoration: none

    .nav-date
      float: right
