/* General and typography */
body {
    background: url(../img/concrete-bg.jpg);
    background-attachment: fixed;
    color: white;
}
h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 3em;
}
h2 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 300;
    font-size: 2em;
}
h3, h4 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2em;
    color: #FEC902;
}
h4 {
    font-size: 1.2em;
}
p, ul {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.2em;
}
a {
    color: white;
}
a:hover {
    color: #FEC902;
    text-decoration: none;
}

/* Buttons */
a.btn {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 20px;
    text-decoration: none;
}
a.btn-warning {
    background: #FEC902;
    color: #070045;
}
a.btn-warning:hover {
    background: #070045;
    color: #FEC902;
}

/* Nav */
nav.navbar-dark .navbar-toggler {
    color: white;
    border-color: white;
}
nav.navbar-dark .navbar-nav .nav-link {
    color: white;
}
nav.navbar.navbar-expand-lg {
    background-color: rgba(7,0,69,0.6);
    position: fixed;
    top: 30px;
    left: 30px;
    z-index: 1;
    border-radius: 5px;
}
nav ul {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1em;
}
nav ul li {
    margin-right: 5px;
}
nav a {
    text-decoration: none;
}
nav a:hover {
    background: #FEC902;
    color: #070045;
}
nav .nav-pills .nav-link.active {
    background: #070045;
}
nav .navbar-nav .nav-link {
    padding-left: 10px;
}

/* Bob */
@media screen and (min-width: 740px) {
    #bob {
        width: 56vh;
        height: 80vh;
        position: fixed;
        top: 15vh;
        right: 10vw;
        background: url(../img/bob.png);
        background-size: contain;
        z-index: 1;
    }
    #bob-logo {
        cursor: pointer;
        width: 200px;
        height: 128px;
        position: fixed;
        bottom: 50px;
        left: 50px;
        background: url(../img/bob-brouwer.jpg);
        box-shadow: 0 5px 10px rgba(0,0,0,0.5);
        z-index: 1;
    }
}
@media screen and (max-width: 740px) {
    body {
        font-size: 12px;
    }
    #bob-logo {
        width: 100px;
        height: 64px;
        position: fixed;
        bottom: 20px;
        left: 20px;
        background: url(../img/bob-brouwer.jpg);
        background-size: contain;
        box-shadow: 0 5px 10px rgba(0,0,0,0.5);
        z-index: 1;
    }
}

/* Blauwe strook */
.row.stroke {
    padding: 50px 0 30px;
    background-color: #070045;
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
}
.row.stroke.inverted {
    background-color: #FEC902;
}
.row.stroke.inverted h3, .row.stroke.inverted p, .row.stroke.inverted h4, .row.stroke.inverted ul {
    color: #070045;
}

/* Header */
header {
    padding-top: 35vh;
    min-height: 100vh;
}
header h1 {
    color: #FEC902;
    text-align: center;
}
header h2 {
    text-align: center;
}

/* Themparesentatie */
section#thema {
    padding-top: 15vh;
}

/* Over ons */
section#over {
    padding-top: 15vh;
}

/* Programma */
section#programma {
    padding-top: 15vh
}
section#programma h3 {
    padding-bottom: 20px;
}
section#programma ul {
    list-style-type: circle;
}

/* Inschrijving */
section#inschrijving {
    padding-top: 15vh;
}

/* Contact */
section#contact {
    padding-top: 15vh;
    padding-bottom: 40vh;
}
