body {
  background-color: #b3f1b9;
  margin: 0 0 100px;
}

h2 {
  color: #526252;
  font-family: sans-serif;
  font-weight: 100;
  letter-spacing: 0.1em;
}

div {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

img {
  max-height: 100vh;
  max-width: 100%;
}
