header
  background-color: $color-primary
  height: calc(100vh - 80px)
  padding: 10px 0
  margin-top: 80px
  overflow: hidden
  position: relative

  .header-bold-row
    height: 100%
    width: 300vh
    margin-left: 50%
    transform: translateX(-50%)
    text-align: center
    z-index: 0

    .header-bold
      font-family: "PeaceSansRegular", serif
      height: 100%
      display: inline-block

      &.header-center
        fill: $color-secondary

      &.header-left, &.header-right
        fill: $color-secondary-transparant
        margin: 0 -50px

  .header-overlay-row
    position: absolute
    top: 0
    left: 0
    height: 100%
    width: 100%
    z-index: 1
    display: flex
    align-items: center
    justify-content: center

    .header-overlay
      font-family: "SelimaRegular", serif
      fill: $white
      max-height: 80%
      max-width: 100%
      z-index: 1