main
  .main-row
    padding: 25px

    &.row-primary
      background-color: $color-primary

      h1, h2, h3, h4, h5, h6
        color: $white

    &.row-white
      background-color: $white

  article, aside
    max-width: 900px
    margin: 0 auto 15px

  .aside-enroll
    margin-bottom: 0

    .enroll-text
      font-size: 30px

    .button
      float: right
      font-size: 25px

  .aside-program
    ul
      list-style: none
      padding: 0

  .aside-workshops
    .aside-component h3
      color: $color-secondary

  .aside-association, .aside-address
    text-align: center
    margin-bottom: 0

    h3, h4
      margin: 0

    a
      text-decoration: none

  .aside-address
    .link-address
      color: $white

      &:hover
        color: $white

    .link-mail
      color: $color-secondary

      &:hover
        color: $color-secondary

