@font-face {
  font-family: "GlacialIndifferenceRegular";
  src: url("../fonts/GlacialIndifferenceRegular.otf") format("opentype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "PeaceSansRegular";
  src: url("../fonts/PeaceSansRegular.woff") format("woff");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "SelimaRegular";
  src: url("../fonts/SelimaRegular.woff") format("woff");
  font-style: normal;
  font-weight: normal; }
body {
  margin: 0;
  font-family: "GlacialIndifferenceRegular", serif;
  color: #526252;
  overflow-x: hidden; }

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 2px;
  text-transform: uppercase; }

p, ul, ol {
  font-size: 20px; }

article, aside {
  max-width: 900px;
  margin: 0 auto 15px; }

.button {
  border: none;
  padding: 5px 20px;
  background-color: #B3F1B9;
  color: #526252;
  text-decoration: none; }
  .button:hover {
    background-color: #526252;
    color: #ffffff; }

.aside-components {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .aside-components .aside-component {
    width: 30%; }
    @media screen and (max-width: 750px) {
      .aside-components .aside-component {
        width: 48%; } }
    @media screen and (max-width: 500px) {
      .aside-components .aside-component {
        width: 100%; } }

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #B3F1B9;
  font-size: 25px;
  letter-spacing: 1px;
  padding: 25px;
  box-sizing: border-box;
  z-index: 100; }
  @media screen and (max-width: 900px) {
    nav {
      font-size: 20px;
      padding: 20px; } }
  @media screen and (max-width: 500px) {
    nav {
      font-size: 15px;
      padding: 15px; } }
  nav .nav-brand {
    color: #526252;
    text-decoration: none; }
  nav .nav-date {
    float: right;
    color: #ffffff; }

header {
  background-color: #B3F1B9;
  height: calc(100vh - 80px);
  padding: 10px 0;
  margin-top: 80px;
  overflow: hidden;
  position: relative; }
  @media screen and (max-width: 900px) {
    header {
      margin-top: 64px;
      height: calc(100vh - 64px); } }
  @media screen and (max-width: 500px) {
    header {
      margin-top: 48px;
      height: calc(90vh - 48px); } }
  @media screen and (max-width: 400px) {
    header {
      margin-top: 48px;
      height: calc(80vh - 48px); } }
  header .header-bold-row {
    height: 100%;
    width: 300vh;
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 0; }
    header .header-bold-row .header-bold {
      font-family: "PeaceSansRegular", serif;
      height: 100%;
      display: inline-block; }
      @media screen and (max-width: 750px) {
        header .header-bold-row .header-bold {
          max-width: 120vw; } }
      header .header-bold-row .header-bold.header-center {
        fill: #526252; }
      header .header-bold-row .header-bold.header-left, header .header-bold-row .header-bold.header-right {
        fill: rgba(82, 98, 82, 0.5);
        margin: 0; }
        @media screen and (max-width: 500px) {
          header .header-bold-row .header-bold.header-left, header .header-bold-row .header-bold.header-right {
            display: none; } }
  header .header-overlay-row {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center; }
    header .header-overlay-row .header-overlay {
      font-family: "SelimaRegular", serif;
      fill: #ffffff;
      max-height: 80%;
      width: 100%;
      z-index: 1; }

main .main-row {
  padding: 25px; }
  main .main-row.row-primary {
    background-color: #B3F1B9; }
    main .main-row.row-primary h1, main .main-row.row-primary h2, main .main-row.row-primary h3, main .main-row.row-primary h4, main .main-row.row-primary h5, main .main-row.row-primary h6 {
      color: #ffffff; }
  main .main-row.row-white {
    background-color: #ffffff; }
main .aside-enroll {
  margin-bottom: 0; }
  main .aside-enroll .enroll-text {
    font-size: 30px; }
  main .aside-enroll .button {
    float: right;
    font-size: 25px; }
  @media screen and (max-width: 750px) {
    main .aside-enroll {
      text-align: center; }
      main .aside-enroll .enroll-text {
        display: inline-block;
        width: 100%;
        margin-bottom: 10px; }
      main .aside-enroll .button {
        float: none; } }
@media screen and (max-width: 750px) {
  main article h1 {
    font-size: 20px; } }
@media screen and (max-width: 500px) {
  main article h1 {
    font-size: 15px; } }
main .aside-video {
  position: relative;
  height: 550px;
  overflow-x: hidden; }
  @media screen and (max-width: 900px) {
    main .aside-video {
      height: 0;
      padding-bottom: 56.25%;
      max-width: calc(100% - 50px); } }
  main .aside-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
main .aside-program ul {
  list-style: none;
  padding: 0; }
main .aside-workshops .aside-component h3 {
  color: #526252; }
main .aside-association, main .aside-address {
  text-align: center;
  margin-bottom: 0; }
  main .aside-association h3, main .aside-association h4, main .aside-address h3, main .aside-address h4 {
    margin: 0; }
  main .aside-association a, main .aside-address a {
    text-decoration: none; }
main .aside-address .link-address {
  color: #ffffff; }
  main .aside-address .link-address:hover {
    color: #ffffff; }
main .aside-address .link-mail {
  color: #526252; }
  @media screen and (max-width: 500px) {
    main .aside-address .link-mail {
      font-size: 10px; } }
  main .aside-address .link-mail:hover {
    color: #526252; }

footer {
  background-color: #526252;
  color: #ffffff;
  display: flex;
  justify-content: center; }
  footer p {
    font-size: 15px; }
  footer a {
    color: #ffffff;
    text-decoration: none; }
    footer a:hover {
      color: #B3F1B9; }

/*# sourceMappingURL=style.css.map */
